body {
	margin: 0px;
}

#container {
	top: 0px;
	left: 0px;
	width: 728px;
	height: 90px;
	display: block;
	position: relative;
	cursor: pointer;
	border: 1px solid #000000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	overflow: hidden;
    background-color: #ebebeb;
	background:url('gradient.gif');


}

#banner {
	top: 0px;
	left: 0px;
	width: 728px;
	height: 90px;
	display: block;
	overflow: hidden;
}
#brand {
    position: absolute;
    top: 10px;
	left: 644px;
    width: 70px;
    height: 23px;
    background : url('img_sprites.png') no-repeat -0px -48px;
	z-index:39;
}

#mask {
	top: 0px;
	left: 0px;
	width: 442px;
	height: 90px;
	display: block;
	overflow: hidden;
}


#logo {
	position: absolute;
	top: 10px;
	left: 15px;
	width: 89px;
	height: 28px;
	background : url('img_sprites.png') no-repeat -0px -75px;
}

#txtBottom {
    position: absolute;
    top: 39px;
    left: 15px;
	width: 95px;
    height: 39px;
    background: url('img_sprites.png') no-repeat -0px -109px;
}

#txt1{
  	position: absolute;
    top: 25px;
    left: 20px;
	background: url('img_sprites.png') no-repeat -1px -1px;
	width: 200px;
	height: 42px;
    z-index: 10;
}

#txt2 {
    position: absolute;
    top: 29px;
    left: 16px;
	background: url('img_sprites.png') no-repeat -4px -215px;
	width: 168px;
	height: 32px;
    z-index: 37;
}

#txt3 {
    position: absolute;
    top: 23px;
    left: 15px;
    background: url('img_sprites.png') no-repeat -4px -251px;
	width: 182px;
	height: 44px;
    z-index: 37;
}
#txt4 {
    position: absolute;
    top: 28px;
    left: 15px;
    background: url('img_sprites.png') no-repeat -4px -299px;
	width: 147px;
	height: 32px;
    z-index: 37;
}
#txt5 {
    position: relative;
    top: 37px;
    left:15px;
	background: url('img_sprites.png') no-repeat -1px -194px;
	width: 148px;
	height: 14px;
    z-index: 37;
}

#txt6 {
    position: relative;
    top: 21px;
    left:19px;
	background: url('img_sprites.png') no-repeat -75px -176px;
	width: 98px;
	height: 9px;
    z-index: 37;
}

#legal1 {
    position: absolute;
    top: 25px;
    left: 345px;
    background: url('img_sprites.png') no-repeat -198px -208px;
	width: 85px;
	height: 33px;
    z-index: 37;
}

#legal2 {
    position: absolute;
    top: 25px;
    left: 345px;
    background: url('img_sprites.png') no-repeat -198px -248px;
	width: 83px;
	height: 33px;
    z-index: 37;
}

#legal3 {
    position: absolute;
    top: 25px;
    left: 345px;
    background: url('img_sprites.png') no-repeat -198px -290px;
	width: 85px;
	height: 33px;
    z-index: 37;
}

#imgTV {
    position: absolute;
    top: 10px;
	left: 230px;
    width: 109px;
    height: 70px;
    background : url('img_sprites.png') no-repeat -225px -3px;
    z-index: 33;
}

#imgTV2 {
    position: absolute;
    top: 13px;
	left: 233px;
    width: 105px;
    height: 60px;
    background : url('img_sprites.png') no-repeat -228px -81px;
    z-index: 33;
}

#imgTV3 {
    position: absolute;
    top: 13px;
	left: 233px;
    width: 105px;
    height: 59px;
    background : url('img_sprites.png') no-repeat -228px -144px;
    z-index: 33;
}

#arrow_container{
    position: absolute;
    overflow: hidden;
    width: 136px;
	height: 51px;
    top: 18px;
    left: 250px;
    
}

#arrow{
    position: relative;
    overflow: hidden;
    width: 136px;
	height: 51px;
    top:0px;
    left: 0px;
    border-radius: 5px;
    background-color: #2ea0dd;
}

#grey_flag{
    position: absolute;
    overflow: hidden;
    width: 287px;
    height: 90px;
    top:0px;
    left: 441px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606163+0,363436+100 */
background: #606163; /* Old browsers */
background: -moz-linear-gradient(top,  #606163 0%, #363436 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606163), color-stop(100%,#363436)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #606163 0%,#363436 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #606163 0%,#363436 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #606163 0%,#363436 100%); /* IE10+ */
background: linear-gradient(to bottom,  #606163 0%,#363436 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606163', endColorstr='#363436',GradientType=0 ); /* IE6-9 */


}

#flag_shine{
    position: absolute;
    width: 35px;
	height: 25px;
    top:0;
    left: -110px;
    opacity: .5;
    -moz-transform:    scale(2,20); /* Firefox */
    -webkit-transform: scale(2,20); /* Webkit */
    -o-transform:      scale(2,20); /* Opera */
    -ms-transform:     scale(2,20); /* IE 9 */
    background: url('img_sprites.png') no-repeat -4px -170px;
    transform-origin: 0 0 ;
}


#cta{
    position: absolute;
    overflow: hidden;
    width: 95px;
    height: 21px;
    top: 60px;
    left: 620px;
    background-color: #2ea0dd;
}

#ctaText{
    position: relative;
    width: 77px;
	height: 10px;
    top:6px;
    margin: 0 auto;
    background: url('img_sprites.png') no-repeat -0px -154px;
}

#shine{
    position: absolute;
    width: 45px;
	height: 21px;
    top:0;
    left: -50px;
	-moz-transform:    scale(1,2); /* Firefox */
    -webkit-transform: scale(1,2); /* Webkit */
    -o-transform:      scale(1,2); /* Opera */
    -ms-transform:     scale(1,2); /* IE 9 */
    background: url('img_sprites.png') no-repeat -4px -170px;
}
